:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  --color-dark: #0e1117;
  --color-dark-grey: #161b22;
  --color-grey: #a8b0b7;
  --color-light-grey: #c8d1d9;
  --color-white: #ffffff;

  --color-purple: #7352ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.error-page {
  height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
}

header {
  text-align: center;
  margin-top: 1rem;
  padding: 0rem 1.5rem;
}

header h1 {
  text-decoration: underline var(--color-purple) 2px
}

main {
  text-align: justify;
  padding: 1rem 1rem;
}

section {
  padding: 1rem 0em;
}

section h2 {
  margin-bottom: 0.5rem;
}

ul {
  display: flex;
  flex-direction: column;
}

a {
  all: unset;
}

a:hover {
  cursor: pointer;
  transition: 0.2s;
  color: var(--color-purple);
}

ul li {
  all: unset;
}

.block-code {
  display: flex;
  align-items: center;
  gap: 1rem;
}

pre code {
  border-radius: 4px;
  padding: 0rem 2rem;
  background-color: var(--color-dark-grey);
  font-size: 14px;
  display: block;
  overflow-x: scroll;
}

.code-api {
  color: var(--color-purple);
}

.badge {
  background-color: var(--color-purple);
  color: var(--color-white);
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

footer p a {
  all: unset;
  font-weight: bold;
}

footer p a:hover {
  cursor: pointer;
  transition: 0.2s;
  color: var(--color-purple);
}

@media only screen and (min-width: 768px) {
  main {
    padding: 1rem 4rem;
  }

  pre code {
    max-width: 768px;
    border-radius: 4px;
    padding: 0rem 2rem;
    background-color: var(--color-dark-grey);
    font-size: 14px;
    display: block;
    overflow-x: auto;
  }

}
